.legacy
.bat
wordlist.txt
config.json
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
wheels/
*.egg-info/
.installed.cfg
*.egg-info/

# Virtual environment
.venv/
venv/
ENV/
env.bak/
env/

# VSCode files
.vscode/
.vscode/*

# pyenv
.python-version

# pipenv
# Ignore pipenv environment files
Pipfile.lock

# dotenv
.env
.env.*

# Pyre type checker
.pyre/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# mypy
.mypy_cache/

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyInstaller
# Usually these files are written by a python script from a template
# before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Pylint
.pylint.d/

# Coverage reports
htmlcov/
.tox/
.nox/
.coverage
coverage.xml
*.cover
.hypothesis/

# pytest
.cache/
pytest_cache/
*.pytest_cache/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Pyre type checker
.pyre/

# Jupyter Notebook
.ipynb_checkpoints/

# Pyright type checker
.pyright/
